* {
    font-weight: 100;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303841;
    width: 100%;
    z-index: 1;
    position: fixed;
}
header p {
    margin: 0 5% 0 5%;
    padding: 1%;
    color: #F7F5F2;
}

/* Main */

.pokeCards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: 90vw;
    text-transform: capitalize;
    justify-content: center;
    margin: 5% auto 0%;
}
.IndividualPokeCard {
    display: flex;
    flex-direction: column;
    margin: 2% 5% 5% 2%;
    background-color: #DFDFDE;
    border-radius: 5%;
    min-width: 15%;
}
.spriteFrontDefault img{
    width: 25px;
}

.pokeTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prevNext {
    text-align: center;
    margin-bottom: 2%;
}
.prevNext p {
    color: #303841;
}

/* Footer */

footer {
    height: 100px;
    background-color: #303841;
    text-align: center;
}
footer p {
    color: #DFDFDE;
}