@import url('./background.css');

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303841;
    width: 100%;
    z-index: 1;
    position: fixed;
}
header a,
form {
    margin: 0 5% 0 5%;
    padding: 1%;
    color: #F7F5F2;    
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
header i {
    margin: 0 5%;
}

.searchInput {
    display: flex;
    flex-direction: row;
}

.ispan { 
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

/* Main */

main {
    display: flex;
    flex-direction: row;
    margin: 5% 5% 0 5%;
    height: 80vh;
}

.pokeInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    text-align: center;
}
.pokeImage {
    display: flex;
    justify-content: center;
    width: 45%;
}
.pokeImage img {
    width: 100%;
}

.pokeTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Footer */
footer {
    height: 100px;
    background-color: #303841;
    text-align: center;
}
footer p {
    color: #DFDFDE;
}