<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

    <header>
        <p>PokeApi</p>
        <p>Search</p>
    </header>
    
    <main>

        <div class="pokeCards">
            <% processedPokemons.forEach(pokemon => { %>
                <div class="IndividualPokeCard">
                    <h2><%-pokemon.name%></h2>
                    <img src="<%-pokemon.sprite%>" alt="Image of a Pokemon" class="spriteFrontDefault">
                    <div class="pokeTypes">
                        <h4 class="pokeType"><%-pokemon.type1%></h4>
                        <% if (pokemon.type2 != undefined) { %>
                            <h4 class="pokeType"><%-pokemon.type2%></h4>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>

    </main>

</body>
</html>