<header>
    <a href="/0"><i class="fa-solid fa-house"></i>PokeApi</a>
    <form action="/search" method="post">
        <div class="searchInput">
            <input type="text" name="search" id="search" placeholder="Search">
            <button for="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
</header>