<header>
    <a href="/"><i class="fa-solid fa-house"></i>PokeApi</a>
    <form action="/search/:search">
        <div class="searchInput">
            <input type="text" name="search" id="search" placeholder="Search">
            <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
        </div>
    </form>
</header>